/*! CSS Used from: https://hencework.com/theme/zapped/main/vendors/datatables.net-bs5/css/dataTables.bootstrap5.min.css */
table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0;
}

table.dataTable td,
table.dataTable th {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

table.dataTable.nowrap th,
table.dataTable.nowrap td {
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: .5em;
    display: inline-block;
    width: auto;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: .85em;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
}

table.dataTable>thead>tr>th:active {
    outline: none;
}

table.dataTable>thead>tr>th:not(.sorting_disabled) {
    padding-right: 30px;
}

table.dataTable>thead .sorting,
table.dataTable>thead .sorting_asc {
    cursor: pointer;
    position: relative;
}

table.dataTable>thead .sorting:before,
table.dataTable>thead .sorting:after,
table.dataTable>thead .sorting_asc:before,
table.dataTable>thead .sorting_asc:after {
    position: absolute;
    bottom: .5em;
    display: block;
    opacity: .3;
}

table.dataTable>thead .sorting:before,
table.dataTable>thead .sorting_asc:before {
    right: 1em;
    content: "â†‘";
}

table.dataTable>thead .sorting:after,
table.dataTable>thead .sorting_asc:after {
    right: .5em;
    content: "â†“";
}

table.dataTable>thead .sorting_asc:before {
    opacity: 1;
}

@media screen and (max-width: 767px) {

    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: center;
    }

    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        justify-content: center !important;
    }
}

/*! CSS Used from: https://hencework.com/theme/zapped/main/dist/css/style.css */
/*! @import https://hencework.com/theme/zapped/main/vendors/bootstrap/dist/css/bootstrap.min.css */
*,
::after,
::before {
    box-sizing: border-box;
}

h3,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h3 {
    font-size: calc(1.3rem + .6vw);
}

@media (min-width:1200px) {
    h3 {
        font-size: 1.75rem;
    }
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    padding-left: 2rem;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: var(--bs-link-color);
    text-decoration: underline;
}

a:hover {
    color: var(--bs-link-hover-color);
}

img,
svg {
    vertical-align: middle;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}

tbody,
td,
th,
thead,
tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

label {
    display: inline-block;
}

button {
    border-radius: 0;
}

button:focus:not(:focus-visible) {
    outline: 0;
}

button,
input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    text-transform: none;
}

[type=button],
button {
    -webkit-appearance: button;
}

[type=button]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

[type=search] {
    outline-offset: -2px;
    -webkit-appearance: textfield;
}

.container-fluid {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.gx-0 {
    --bs-gutter-x: 0;
}

@media (min-width:576px) {
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width:768px) {
    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width:992px) {
    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }
}

@media (min-width:1400px) {
    .col-xxl-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

.table {
    --bs-table-color: var(--bs-body-color);
    --bs-table-bg: transparent;
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-body-color);
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: var(--bs-body-color);
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: var(--bs-body-color);
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: var(--bs-table-color);
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}

.table>:not(caption)>*>* {
    padding: .5rem .5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table>tbody {
    vertical-align: inherit;
}

.table>thead {
    vertical-align: bottom;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none;
    }
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:disabled {
    background-color: #e9ecef;
    opacity: 1;
}

.form-control-sm {
    min-height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .25rem;
}

.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: .125rem;
}

.form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
}

.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, .25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    print-color-adjust: exact;
}

.form-check-input[type=checkbox] {
    border-radius: .25em;
}

.form-check-input:active {
    filter: brightness(90%);
}

.form-check-input:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.form-check-input:disabled {
    pointer-events: none;
    filter: none;
    opacity: .5;
}

.form-check-input:disabled~.form-check-label {
    cursor: default;
    opacity: .5;
}

.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .btn {
        transition: none;
    }
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}

.btn.active,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);
}

.btn:disabled {
    color: var(--bs-btn-disabled-color);
    pointer-events: none;
    background-color: var(--bs-btn-disabled-bg);
    border-color: var(--bs-btn-disabled-border-color);
    opacity: var(--bs-btn-disabled-opacity);
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.btn-outline-light {
    --bs-btn-color: #f8f9fa;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #f8f9fa;
    --bs-btn-hover-border-color: #f8f9fa;
    --bs-btn-focus-shadow-rgb: 248, 249, 250;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #f8f9fa;
    --bs-btn-active-border-color: #f8f9fa;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f8f9fa;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f8f9fa;
    --bs-gradient: none;
}

.btn-group-sm>.btn,
.btn-sm {
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 0.875rem;
    --bs-btn-border-radius: 0.25rem;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-color: #212529;
    --bs-dropdown-bg: #fff;
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-border-radius: 0.375rem;
    --bs-dropdown-border-width: 1px;
    --bs-dropdown-inner-border-radius: calc(0.375rem - 1px);
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-dropdown-link-color: #212529;
    --bs-dropdown-link-hover-color: #1e2125;
    --bs-dropdown-link-hover-bg: #e9ecef;
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #0d6efd;
    --bs-dropdown-link-disabled-color: #adb5bd;
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.25rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    position: absolute;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    min-width: var(--bs-dropdown-min-width);
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-dropdown-bg);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
}

.dropdown-divider {
    height: 0;
    margin: var(--bs-dropdown-divider-margin-y) 0;
    overflow: hidden;
    border-top: 1px solid var(--bs-dropdown-divider-bg);
    opacity: 1;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: var(--bs-dropdown-link-hover-color);
    background-color: var(--bs-dropdown-link-hover-bg);
}

.dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: var(--bs-dropdown-link-active-bg);
}

.dropdown-item:disabled {
    color: var(--bs-dropdown-link-disabled-color);
    pointer-events: none;
    background-color: transparent;
}

.btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

.btn-group>.btn {
    position: relative;
    flex: 1 1 auto;
}

.btn-group>.btn.active,
.btn-group>.btn:active,
.btn-group>.btn:focus,
.btn-group>.btn:hover {
    z-index: 1;
}

.btn-group {
    border-radius: .375rem;
}

.btn-group>:not(.btn-check:first-child)+.btn {
    margin-left: -1px;
}

.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group>.btn:nth-child(n+3),
.btn-group>:not(.btn-check)+.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 0.375rem;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}

.card-header {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    margin-bottom: 0;
    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.card-header:first-child {
    border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
}

.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: var(--bs-link-color);
    --bs-pagination-bg: #fff;
    --bs-pagination-border-width: 1px;
    --bs-pagination-border-color: #dee2e6;
    --bs-pagination-border-radius: 0.375rem;
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: #e9ecef;
    --bs-pagination-hover-border-color: #dee2e6;
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #0d6efd;
    --bs-pagination-active-border-color: #0d6efd;
    --bs-pagination-disabled-color: #6c757d;
    --bs-pagination-disabled-bg: #fff;
    --bs-pagination-disabled-border-color: #dee2e6;
    display: flex;
    padding-left: 0;
    list-style: none;
}

.page-link {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: var(--bs-pagination-color);
    text-decoration: none;
    background-color: var(--bs-pagination-bg);
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .page-link {
        transition: none;
    }
}

.page-link:hover {
    z-index: 2;
    color: var(--bs-pagination-hover-color);
    background-color: var(--bs-pagination-hover-bg);
    border-color: var(--bs-pagination-hover-border-color);
}

.page-link:focus {
    z-index: 3;
    color: var(--bs-pagination-focus-color);
    background-color: var(--bs-pagination-focus-bg);
    outline: 0;
    box-shadow: var(--bs-pagination-focus-box-shadow);
}

.active>.page-link {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: var(--bs-pagination-active-bg);
    border-color: var(--bs-pagination-active-border-color);
}

.disabled>.page-link {
    color: var(--bs-pagination-disabled-color);
    pointer-events: none;
    background-color: var(--bs-pagination-disabled-bg);
    border-color: var(--bs-pagination-disabled-border-color);
}

.page-item:not(:first-child) .page-link {
    margin-left: -1px;
}

.page-item:first-child .page-link {
    border-top-left-radius: var(--bs-pagination-border-radius);
    border-bottom-left-radius: var(--bs-pagination-border-radius);
}

.page-item:last-child .page-link {
    border-top-right-radius: var(--bs-pagination-border-radius);
    border-bottom-right-radius: var(--bs-pagination-border-radius);
}

.pagination-sm {
    --bs-pagination-padding-x: 0.5rem;
    --bs-pagination-padding-y: 0.25rem;
    --bs-pagination-font-size: 0.875rem;
    --bs-pagination-border-radius: 0.25rem;
}

.badge {
    --bs-badge-padding-x: 0.65em;
    --bs-badge-padding-y: 0.35em;
    --bs-badge-font-size: 0.75em;
    --bs-badge-font-weight: 700;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: 0.375rem;
    display: inline-block;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-size: var(--bs-badge-font-size);
    font-weight: var(--bs-badge-font-weight);
    line-height: 1;
    color: var(--bs-badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--bs-badge-border-radius);
}

.badge:empty {
    display: none;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.d-inline-block {
    display: inline-block !important;
}

.d-block {
    display: block !important;
}

.d-flex {
    display: flex !important;
}

.d-inline-flex {
    display: inline-flex !important;
}

.d-none {
    display: none !important;
}

.position-relative {
    position: relative !important;
}

.border-end {
    border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.border-light {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-light-rgb), var(--bs-border-opacity)) !important;
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.align-items-center {
    align-items: center !important;
}

.mx-1 {
    margin-right: .25rem !important;
    margin-left: .25rem !important;
}

.my-1 {
    margin-top: .25rem !important;
    margin-bottom: .25rem !important;
}

.mt-2 {
    margin-top: .5rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.me-2 {
    margin-right: .5rem !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-2 {
    margin-bottom: .5rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.ms-1 {
    margin-left: .25rem !important;
}

.ms-3 {
    margin-left: 1rem !important;
}

.p-0 {
    padding: 0 !important;
}

.px-2 {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

.px-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}

.pt-1 {
    padding-top: .25rem !important;
}

.pt-3 {
    padding-top: 1rem !important;
}

.pt-5 {
    padding-top: 3rem !important;
}

.pb-4 {
    padding-bottom: 1.5rem !important;
}

.fs-3 {
    font-size: calc(1.3rem + .6vw) !important;
}

.fs-4 {
    font-size: calc(1.275rem + .3vw) !important;
}

.fs-5 {
    font-size: 1.25rem !important;
}

.fs-6 {
    font-size: 1rem !important;
}

.text-center {
    text-align: center !important;
}

.text-primary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

.text-success {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
}

.text-danger {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
}

.text-light {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}

.text-dark {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

.text-opacity-25 {
    --bs-text-opacity: 0.25;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

@media (min-width:576px) {
    .p-sm-3 {
        padding: 1rem !important;
    }
}

@media (min-width:768px) {
    .mb-md-0 {
        margin-bottom: 0 !important;
    }

    .mb-md-4 {
        margin-bottom: 1.5rem !important;
    }
}

@media (min-width:1400px) {
    .d-xxl-flex {
        display: flex !important;
    }

    .px-xxl-3 {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
}

@media (min-width:1200px) {
    .fs-3 {
        font-size: 1.75rem !important;
    }

    .fs-4 {
        font-size: 1.5rem !important;
    }
}

/*! end @import */
/*! @import https://hencework.com/theme/zapped/main/dist/css/material-design-iconic-font.min.css */
.zmdi {
    display: inline-block;
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.zmdi-alert-circle-o:before {
    content: '\f1f0';
}

.zmdi-alert-circle-o:before {
    content: '\f1f0';
}

/*! end @import */
/*! @import https://hencework.com/theme/zapped/main/dist/css/remixicon.css */
[class^="ri-"] {
    font-family: 'remixicon' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ri-arrow-left-s-line:before {
    content: "\ea62";
}

.ri-arrow-right-s-line:before {
    content: "\ea6c";
}

/*! end @import */
/*! @import https://hencework.com/theme/zapped/main/dist/css/bootstrap-icons.css */
.bi::before,
[class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bi-arrow-down::before {
    content: "\f128";
}

.bi-arrow-up::before {
    content: "\f148";
}

.bi-filter::before {
    content: "\f3ca";
}

/*! end @import */
div,
span,
p,
a,
img,
i,
label {
    margin: 0;
    padding: 0;
    border: 0;
}

a:hover,
a:active {
    outline: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #6172F3;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

a:hover {
    text-decoration: none;
    color: #8794f6;
}

a:focus {
    text-decoration: none;
    outline: none;
    color: #8794f6;
}

a.link-medium-em {
    font-size: 0.875rem;
}

h3,
h5,
h6 {
    color: #262a2e;
}

td.text-truncate {
    max-width: 1px;
}

.p-0 {
    padding: 0rem !important;
}

.pt-1 {
    padding-top: 0.25rem !important;
}

.pt-3 {
    padding-top: 1rem !important;
}

.pt-5 {
    padding-top: 2rem !important;
}

.pb-4 {
    padding-bottom: 1.5rem !important;
}

.px-2 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.px-5 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

@media (min-width: 576px) {
    .p-sm-3 {
        padding: 1rem !important;
    }
}

@media (min-width: 1400px) {
    .px-xxl-3 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mt-5 {
    margin-top: 2rem !important;
}

.mb-0 {
    margin-bottom: 0rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mb-5 {
    margin-bottom: 2rem !important;
}

.ms-1 {
    margin-left: 0.25rem !important;
}

.ms-3 {
    margin-left: 1rem !important;
}

.me-2 {
    margin-right: 0.5rem !important;
}

.mx-1 {
    margin-left: 0.25rem !important;
    margin-right: 0.25rem !important;
}

.my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

@media (min-width: 768px) {
    .mb-md-0 {
        margin-bottom: 0rem !important;
    }

    .mb-md-4 {
        margin-bottom: 1.5rem !important;
    }
}

.bg-primary-light-2 {
    background-color: rgba(163, 173, 248, var(--bs-bg-opacity)) !important;
}

.text-success {
    color: rgba(102, 159, 42, var(--bs-text-opacity)) !important;
}

.text-danger {
    color: rgba(255, 68, 5, var(--bs-text-opacity)) !important;
}

.text-primary {
    color: rgba(97, 114, 243, var(--bs-text-opacity)) !important;
}

.text-dark {
    color: rgba(38, 42, 46, var(--bs-text-opacity)) !important;
}

.text-light {
    color: rgba(82, 90, 106, var(--bs-text-opacity)) !important;
}

.text-high-em {
    color: #262a2e;
    font-weight: 500;
}

.rounded-8 {
    border-radius: 1rem !important;
}

.fs-7 {
    font-size: 0.875rem !important;
}

.fw-medium {
    font-weight: 500 !important;
}

.w-15 {
    width: 15% !important;
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.v-separator {
    margin: 0 1rem;
}

.v-separator:after {
    content: "";
    position: absolute;
    display: block;
    height: calc(100% - 30px);
    border-right: 1px solid #dde0e4;
    top: 0;
    bottom: 0;
    margin: auto;
}

.btn {
    text-transform: capitalize;
    outline: none;
    font-size: 0.875rem;
    padding: 0.375rem 1rem;
    border-width: 1px;
    border-radius: 0.5rem;
}

.btn:focus,
.btn:active,
.btn:hover {
    box-shadow: none;
}

.btn>span:not(.badge):not(.sr-only):not(span[class^=spinner]) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.btn>span:not(.badge):not(.sr-only):not(span[class^=spinner]).icon {
    font-size: 1rem;
}

.btn>span:not(.badge):not(.sr-only):not(span[class^=spinner]) .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
}

.btn>span:not(.badge):not(.sr-only):not(span[class^=spinner]) .icon:not(:last-child) {
    margin-right: 0.75rem;
}

.btn.btn-sm>span:not(.badge):not(.sr-only):not(span[class^=spinner]) .icon {
    font-size: 0.875rem;
}

.btn.btn-sm>span:not(.badge):not(.sr-only):not(span[class^=spinner]) .icon:not(:last-child) {
    margin-right: 0.75rem;
}

.btn.btn-icon {
    height: 38px;
    width: 38px;
    padding: 0;
}

.btn.btn-icon[class*=btn-flush-] {
    position: relative;
    border: none;
    background: transparent !important;
}

.btn.btn-icon[class*=btn-flush-]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
    background: #2E90FA;
    border-radius: 0.5rem;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    -webkit-transition: all 200ms;
    transition: all 200ms;
}

.btn.btn-icon[class*=btn-flush-]:not(:disabled):not(.disabled):active::before,
.btn.btn-icon[class*=btn-flush-]:hover::before,
.btn.btn-icon[class*=btn-flush-]:focus::before {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.btn.btn-icon[class*=btn-flush-]:not(:disabled):not(.disabled):active .icon,
.btn.btn-icon[class*=btn-flush-]:hover .icon,
.btn.btn-icon[class*=btn-flush-]:focus .icon {
    color: #fff;
}

.btn.btn-icon[class*=btn-flush-].btn-rounded::before {
    border-radius: 50%;
}

.btn.btn-icon[class*=btn-flush-].btn-flush-dark:before {
    background: #262a2e;
}

.btn.btn-icon[class*=btn-flush-].btn-flush-dark.flush-soft-hover:before {
    background: #f3f4f5;
}

.btn.btn-icon[class*=btn-flush-].btn-flush-dark.flush-soft-hover:not(:disabled):not(.disabled):active .icon,
.btn.btn-icon[class*=btn-flush-].btn-flush-dark.flush-soft-hover:hover .icon,
.btn.btn-icon[class*=btn-flush-].btn-flush-dark.flush-soft-hover:focus .icon {
    color: #262a2e;
}

.btn.btn-icon[class*=btn-flush-].btn-flush-dark:disabled {
    color: rgba(38, 42, 46, 0.8);
}

.btn.btn-rounded {
    border-radius: 50rem !important;
}

.btn.btn-rounded .icon {
    border-radius: 50% !important;
}

.btn-primary {
    color: #fff;
    background-color: #6172F3;
    border-color: #6172F3;
}

.btn-primary:hover,
.btn-primary:focus {
    color: #fff;
    background-color: #5767db;
    border-color: #5767db;
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #5767db;
    border-color: #5767db;
}

.btn-primary:disabled {
    color: #fff;
    background-color: #c0c7fa;
    border-color: #c0c7fa;
}

.btn:not(:disabled):not(.disabled).active:focus,
.btn:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

.btn-group>.btn:hover {
    z-index: 0;
}

.btn-flush-dark {
    color: #262a2e;
    background-color: transparent;
    border-color: transparent;
}

.btn-flush-dark:hover,
.btn-flush-dark:focus {
    color: #fff;
    background-color: #262a2e;
    border-color: #262a2e;
}

.btn-flush-dark:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #262a2e;
    border-color: #262a2e;
}

.btn-flush-dark:disabled {
    color: #fff;
    background-color: #667085;
    border-color: #667085;
}

.btn-flush-dark.flush-soft-hover:hover,
.btn-flush-dark.flush-soft-hover:focus,
.btn-flush-dark.flush-soft-hover:not(:disabled):not(.disabled):active {
    color: #262a2e;
    background-color: #f3f4f5;
    border-color: #f3f4f5;
}

.btn-outline-light {
    color: #474e5d;
    background-color: transparent;
    background-image: none;
    border-color: #dde0e4;
}

.btn-outline-light:hover,
.btn-outline-light:focus {
    color: #474e5d;
    background-color: #dde0e4;
    border-color: #dde0e4;
}

.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active {
    color: #474e5d;
    background-color: #dde0e4;
    border-color: #dde0e4;
}

.btn-outline-light:disabled {
    color: #474e5d;
    background-color: #dde0e4;
    border-color: #dde0e4;
}

.btn-group .btn+.btn {
    margin-left: -1px;
}

.btn-group-sm>.btn,
.btn-sm {
    font-size: 0.875rem;
    padding: 0.25rem 0.8rem;
    border-radius: 0.5rem;
}

.card {
    border-color: #dde0e4;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.875rem;
    border-radius: 0.5rem;
}

.card .card-header {
    background: transparent;
    border-color: #dde0e4;
    padding: 0.75rem 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
}

.card .card-header>h6 {
    margin-bottom: 0;
}

.card .card-header.card-header-action .card-action-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.card .card-header:first-child {
    border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
}

.card .card-body {
    padding: 1.25rem;
    min-height: 1px;
}

.card.card-flush {
    border: none;
    box-shadow: none;
}

.card.card-simple .card-header {
    border: none;
}

.form-control {
    color: #262a2e;
    border-color: #c2c6ce;
    border-radius: 0.5rem;
    font-size: 0.875rem;
}

.form-control:focus {
    border-color: #6172F3;
    box-shadow: 0 0 0 0.125rem rgba(97, 114, 243, 0.16);
}

.form-control:disabled {
    color: #8b92a2;
    background-color: #f3f4f5;
    cursor: not-allowed;
}

.form-control:hover:not(:disabled):not([readonly]) {
    border-color: #6172F3;
    z-index: 4;
}

.form-control::placeholder {
    color: #667085;
}

.form-control-sm {
    font-size: 0.75rem;
}

.form-check-input[type=checkbox] {
    border-radius: 0.125em;
}

.form-check-input:checked {
    background-color: #6172F3;
    border-color: #6172F3;
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.125rem rgba(97, 114, 243, 0.16);
}

.form-check-input:disabled~.form-check-label {
    color: #70707B;
}

label {
    color: #262a2e;
}

.table {
    --bs-table-striped-color: #262a2e;
    --bs-table-active-color: #262a2e;
    --bs-table-hover-color: #262a2e;
    --bs-table-hover-bg: #f3f4f5;
    color: #474e5d;
    border-color: #dde0e4;
}

.table thead th {
    vertical-align: middle;
    font-weight: 500;
    color: #262a2e;
    font-size: 0.875rem;
    text-transform: capitalize;
}

.table thead th .form-check {
    font-size: 1rem;
}

.table td,
.table th {
    vertical-align: middle;
    padding: 0.75rem 1.25rem;
}

.table td a.table-link-text:hover {
    text-decoration: underline;
}

.table:not(.table-borderless)> :not(:first-child) {
    border-top: 0;
}

.table.nowrap th,
.table.nowrap td {
    white-space: nowrap;
}

@media (max-width: 1200px) {

    .table-responsive .table>tbody>tr>td,
    .table-responsive .table>thead>tr>th {
        white-space: nowrap;
    }
}

table.dataTable thead th {
    position: relative;
    background-image: none !important;
}

table.dataTable thead th.sorting_asc {
    color: #6172F3;
    background-image: none !important;
}

table.dataTable thead th.sorting::before,
table.dataTable thead th.sorting_asc::before,
table.dataTable thead th.sorting::after,
table.dataTable thead th.sorting_asc::after {
    display: inline-block;
    font-family: remixicon;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 0.875rem;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    position: absolute;
    z-index: 10;
    right: 7px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

table.dataTable thead th.sorting::before,
table.dataTable thead th.sorting_asc::before,
table.dataTable thead th.sorting::after,
table.dataTable thead th.sorting_asc::after {
    content: "";
    bottom: auto;
    opacity: 1;
}

table.dataTable thead th.sorting::before {
    content: "\ea72";
}

table.dataTable thead th.sorting.sorting_asc::before {
    content: "\f0f9";
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0 !important;
    width: 100% !important;
}

div.dataTables_wrapper div.dataTables_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 0;
}

.apexcharts-canvas .apexcharts-yaxistooltip {
    font-size: 0.75rem;
    background: #262a2e;
    color: #fff;
    border-radius: 0.5rem;
    max-width: 200px;
    padding: 0.25rem 0.5rem;
    text-align: center;
}

.apexcharts-canvas .apexcharts-yaxistooltip:before,
.apexcharts-canvas .apexcharts-yaxistooltip:after {
    display: none;
}

.apexcharts-canvas .apexcharts-tooltip.apexcharts-theme-light {
    border-radius: 0.5rem;
    font-size: 1rem;
    color: #474e5d;
    border: none;
    box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.apexcharts-canvas .apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
    color: #fff;
    background-color: #6172F3;
    border-bottom: none;
    padding: 0.65rem 0.75rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.apexcharts-canvas .apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-series-group {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.apexcharts-datalabel-value {
    fill: #262a2e !important;
}

.feather {
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-icon {
    line-height: 0 !important;
}

.feather-icon>svg {
    height: 1em;
    width: 1em;
}

.dropdown-menu {
    color: #474e5d;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    --bs-dropdown-font-size: 0.875rem;
    box-shadow: 0px 6px 16px rgba(47, 52, 58, 0.1);
}

.dropdown-menu .dropdown-item {
    color: #262a2e;
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.25rem 0.75rem;
}

.dropdown-menu .dropdown-item:active {
    background-color: #6172F3;
    color: #fff;
}

.dropdown-menu .dropdown-item:focus:not(.active):not(.disabled),
.dropdown-menu .dropdown-item:hover:not(.active):not(.disabled) {
    background-color: #f3f4f5;
    color: #262a2e;
}

.dropdown-menu .dropdown-item:disabled {
    color: #8b92a2;
    background-color: transparent;
}

.dropdown-divider {
    border-color: #dde0e4;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}

.avatar {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    vertical-align: middle;
    background-color: transparent;
}

.avatar .avatar-img,
.avatar .initial-wrap {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    -o-object-fit: cover;
    object-fit: cover;
}

.avatar>.initial-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    font-size: 1.1rem;
    font-weight: 600;
}

.avatar.avatar-rounded .avatar-img,
.avatar.avatar-rounded .initial-wrap {
    border-radius: 50%;
}

.avatar.avatar-xs {
    width: 2rem;
    height: 2rem;
}

.avatar.avatar-xs>.initial-wrap {
    font-size: 0.75rem;
}

.avatar.avatar-soft-danger>.initial-wrap {
    background-color: #fff0eb !important;
    color: #FF4405;
}

.avatar.avatar-soft-violet>.initial-wrap {
    background-color: #f4f2fe !important;
    color: #7A5AF8;
}

.avatar.avatar-soft-primary>.initial-wrap {
    background-color: #f2f4fe !important;
    color: #6172F3;
}

.avatar-group {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.avatar-group .avatar {
    width: 2.625rem;
    height: 2.625rem;
}

.avatar-group .avatar .avatar-img,
.avatar-group .avatar>.initial-wrap {
    border: 2px solid #fff;
    font-size: 0.9rem;
}

.avatar-group.avatar-group-overlapped .avatar {
    margin-right: -0.875rem;
}

.avatar-group.avatar-group-overlapped .avatar:hover {
    z-index: 1;
}

.avatar-group.avatar-group-sm .avatar {
    width: 2rem;
    height: 2rem;
}

.avatar-group.avatar-group-sm .avatar>.initial-wrap {
    font-size: 0.6rem;
}

.avatar-group.avatar-group-sm.avatar-group-overlapped .avatar {
    margin-right: -0.625rem;
}

.page-link {
    color: #262a2e;
    border-color: #c2c6ce;
    min-width: 40px;
    min-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

.page-link:focus,
.page-link:hover {
    color: #262a2e;
    box-shadow: none;
    background-color: #dde0e4;
    border-color: #c2c6ce;
}

.pagination .page-item.active .page-link {
    background: #6172F3;
    border-color: #6172F3;
    color: #fff;
}

.pagination .page-item.disabled .page-link {
    color: #8b92a2;
}

.pagination .page-item:first-child .page-link {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.pagination .page-item:last-child .page-link {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.pagination.custom-pagination .page-item+.page-item {
    padding-left: 0.5rem;
    margin: 0;
}

.pagination.custom-pagination .page-link {
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
}

.pagination.custom-pagination.pagination-simple .page-item:not(.active) .page-link {
    border-color: transparent;
}

.pagination.pagination-sm .page-link {
    padding: 0.3rem 0.6rem;
    min-height: 30px;
    min-width: 30px;
}

.badge {
    --bs-badge-padding-x: 0.625rem;
    --bs-badge-padding-y: 0.5rem;
    --bs-badge-font-size: 0.7em;
    --bs-badge-font-weight: 500;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: 0.5rem;
    min-width: 25px;
    letter-spacing: 0.3px;
    vertical-align: middle;
    text-transform: capitalize;
}

.badge.badge-indicator {
    width: 10px;
    height: 10px;
    min-width: initial;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 0;
    position: relative;
}

.badge.badge-indicator:empty {
    display: inline-block;
}

.badge.badge-indicator.badge-indicator-nobdr {
    width: 8px;
    height: 8px;
    border: none;
}

.badge.badge-sm {
    --bs-badge-font-size: 0.75em;
    --bs-badge-padding-x: 0.5rem;
    --bs-badge-padding-y: 0.25rem;
    min-width: 19px;
}

.badge.badge-light {
    background: #dde0e4;
    color: #262a2e;
}

.badge.badge-soft-info {
    background: #ebf9fc;
    color: #06AED4;
}

.badge.badge-soft-success {
    background: #f3f7ee;
    color: #527f22;
}

.badge.badge-soft-danger {
    background: #fff0eb;
    color: #e63d05;
}

.badge.badge-soft-warning {
    background: #fdfaeb;
    color: #b79a02;
}

.badge.badge-soft-primary {
    background: #f2f4fe;
    color: #6172F3;
}

.badge-status .badge-label {
    margin-left: 0.25rem;
    font-size: 0.875rem;
}

@media (max-width: 575px) {
    .wdg-1 .border-light {
        border: none !important;
    }
}

/*! CSS Used from: Embedded */
.apexcharts-canvas {
    position: relative;
    user-select: none;
}

.apexcharts-canvas ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
}

.apexcharts-canvas ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.apexcharts-inner {
    position: relative;
}

.apexcharts-text tspan {
    font-family: inherit;
}

.apexcharts-tooltip {
    border-radius: 5px;
    box-shadow: 2px 2px 6px -4px #999;
    cursor: default;
    font-size: 14px;
    left: 62px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    z-index: 12;
    transition: 0.15s ease all;
}

.apexcharts-tooltip.apexcharts-theme-light {
    border: 1px solid #e3e3e3;
    background: rgba(255, 255, 255, 0.96);
}

.apexcharts-tooltip * {
    font-family: inherit;
}

.apexcharts-tooltip-title {
    padding: 6px;
    font-size: 15px;
    margin-bottom: 4px;
}

.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
    background: #ECEFF1;
    border-bottom: 1px solid #ddd;
}

.apexcharts-tooltip-text-y-value,
.apexcharts-tooltip-text-goals-value,
.apexcharts-tooltip-text-z-value {
    display: inline-block;
    font-weight: 600;
    margin-left: 5px;
}

.apexcharts-tooltip-title:empty,
.apexcharts-tooltip-text-y-label:empty,
.apexcharts-tooltip-text-y-value:empty,
.apexcharts-tooltip-text-goals-label:empty,
.apexcharts-tooltip-text-goals-value:empty,
.apexcharts-tooltip-text-z-value:empty {
    display: none;
}

.apexcharts-tooltip-text-y-value,
.apexcharts-tooltip-text-goals-value,
.apexcharts-tooltip-text-z-value {
    font-weight: 600;
}

.apexcharts-tooltip-text-goals-label,
.apexcharts-tooltip-text-goals-value {
    padding: 6px 0 5px;
}

.apexcharts-tooltip-goals-group,
.apexcharts-tooltip-text-goals-label,
.apexcharts-tooltip-text-goals-value {
    display: flex;
}

.apexcharts-tooltip-text-goals-label:not(:empty),
.apexcharts-tooltip-text-goals-value:not(:empty) {
    margin-top: -6px;
}

.apexcharts-tooltip-marker {
    width: 12px;
    height: 12px;
    position: relative;
    top: 0px;
    margin-right: 10px;
    border-radius: 50%;
}

.apexcharts-tooltip-series-group {
    padding: 0 10px;
    display: none;
    text-align: left;
    justify-content: left;
    align-items: center;
}

.apexcharts-tooltip-series-group:last-child {
    padding-bottom: 4px;
}

.apexcharts-tooltip-y-group {
    padding: 6px 0 5px;
}

.apexcharts-yaxistooltip {
    opacity: 0;
    padding: 4px 10px;
    pointer-events: none;
    color: #373d3f;
    font-size: 13px;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    background: #ECEFF1;
    border: 1px solid #90A4AE;
}

.apexcharts-yaxistooltip:after,
.apexcharts-yaxistooltip:before {
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.apexcharts-yaxistooltip:after {
    border-color: rgba(236, 239, 241, 0);
    border-width: 6px;
    margin-top: -6px;
}

.apexcharts-yaxistooltip:before {
    border-color: rgba(144, 164, 174, 0);
    border-width: 7px;
    margin-top: -7px;
}

.apexcharts-yaxistooltip-left:after,
.apexcharts-yaxistooltip-left:before {
    left: 100%;
}

.apexcharts-yaxistooltip-left:after {
    border-left-color: #ECEFF1;
}

.apexcharts-yaxistooltip-left:before {
    border-left-color: #90A4AE;
}

.apexcharts-xcrosshairs,
.apexcharts-ycrosshairs {
    pointer-events: none;
    opacity: 0;
    transition: 0.15s ease all;
}

.apexcharts-ycrosshairs-hidden {
    opacity: 0;
}

.apexcharts-datalabels,
.apexcharts-datalabel-value {
    cursor: default;
    pointer-events: none;
}

.apexcharts-gridline,
.apexcharts-line,
.apexcharts-line-series .apexcharts-series-markers .apexcharts-marker.no-pointer-events {
    pointer-events: none;
}

.apexcharts-marker {
    transition: 0.15s ease all;
}

/*! CSS Used fontfaces */
@font-face {
    font-family: "remixicon";
    src: url('https://hencework.com/theme/zapped/main/dist/fonts/remixicon/remixicon.eot?t=1587359857360');
    src: url('https://hencework.com/theme/zapped/main/dist/fonts/remixicon/remixicon.eot?t=1587359857360#iefix') format('embedded-opentype'), url("https://hencework.com/theme/zapped/main/dist/fonts/remixicon/remixicon.woff2?t=1587359857360") format("woff2"), url("https://hencework.com/theme/zapped/main/dist/fonts/remixicon/remixicon.woff?t=1587359857360") format("woff"), url('https://hencework.com/theme/zapped/main/dist/fonts/remixicon/remixicon.ttf?t=1587359857360') format('truetype'), url('https://hencework.com/theme/zapped/main/dist/fonts/remixicon/remixicon.svg?t=1587359857360#remixicon') format('svg');
    font-display: swap;
}

@font-face {
    font-family: "bootstrap-icons";
    src: url("https://hencework.com/theme/zapped/main/dist/fonts/bootstrap-icons/font/fonts/bootstrap-icons.woff2?30af91bf14e37666a085fb8a161ff36d") format("woff2"), url("https://hencework.com/theme/zapped/main/dist/fonts/bootstrap-icons/font/fonts/bootstrap-icons.woff?30af91bf14e37666a085fb8a161ff36d") format("woff");
}

@font-face {
    font-family: "remixicon";
    src: url('https://hencework.com/theme/zapped/main/dist/fonts/remixicon/remixicon.eot?t=1587359857360');
    src: url('https://hencework.com/theme/zapped/main/dist/fonts/remixicon/remixicon.eot?t=1587359857360#iefix') format('embedded-opentype'), url("https://hencework.com/theme/zapped/main/dist/fonts/remixicon/remixicon.woff2?t=1587359857360") format("woff2"), url("https://hencework.com/theme/zapped/main/dist/fonts/remixicon/remixicon.woff?t=1587359857360") format("woff"), url('https://hencework.com/theme/zapped/main/dist/fonts/remixicon/remixicon.ttf?t=1587359857360') format('truetype'), url('https://hencework.com/theme/zapped/main/dist/fonts/remixicon/remixicon.svg?t=1587359857360#remixicon') format('svg');
    font-display: swap;
}